flows.json
[{"id":"e27c1e47.86d08","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"f89a0b53.e027a8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"4cb0117d.f8fb7","type":"tab","label":"Flow 3","disabled":true,"info":""},{"id":"853dd6fb.3db9c8","type":"ui_tab","z":"","name":"Restaurant Bot","icon":"dashboard","disabled":false,"hidden":false},{"id":"a126c2a8.9d613","type":"ui_group","z":"","name":"chat","tab":"853dd6fb.3db9c8","order":1,"disp":true,"width":"6","collapse":false},{"id":"1e5fe27f.942c7e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"21c63c9d.e3e724","type":"ui_tab","z":"","name":"speech bot","icon":"dashboard","disabled":false,"hidden":false},{"id":"e23e4fd1.f2cd","type":"ui_group","z":"","name":"responses","tab":"21c63c9d.e3e724","order":1,"disp":true,"width":"6","collapse":false},{"id":"ec8448af.407ec8","type":"ui_tab","z":"","name":"speech bot","icon":"dashboard","disabled":false,"hidden":false},{"id":"6591b890.59c8c8","type":"ui_group","z":"","name":"response","tab":"ec8448af.407ec8","order":1,"disp":true,"width":"6","collapse":false},{"id":"b1b11140.4e4ef","type":"inject","z":"e27c1e47.86d08","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"Hello Node-RED!","payloadType":"string","x":141,"y":61,"wires":[["f2f2649a.0d0d98"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"e27c1e47.86d08","name":"","active":true,"console":"false","complete":"false","x":401,"y":87,"wires":[]},{"id":"1e51ded7.462ab1","type":"ui_form","z":"f89a0b53.e027a8","name":"","label":"","group":"a126c2a8.9d613","order":0,"width":0,"height":0,"options":[{"label":"enter text","value":"user_input","type":"text","required":true,"rows":null}],"formValue":{"user_input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":120,"wires":[["4432015a.c75b8","8eee1a0a.b16b08"]]},{"id":"4432015a.c75b8","type":"debug","z":"f89a0b53.e027a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":250,"y":180,"wires":[]},{"id":"bb06a6e8.554578","type":"watson-conversation-v1","z":"f89a0b53.e027a8","name":"","workspaceid":"a31bcca7-2d6f-42b1-8b31-f8440bb97aa3","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/d3ffa5df-72a0-4ac1-8d85-f9698f037a6b","timeout":"","optout-learning":false,"x":320,"y":60,"wires":[["844965dc.f5a638","9980cb9a.04d208"]]},{"id":"8eee1a0a.b16b08","type":"function","z":"f89a0b53.e027a8","name":"","func":"msg.payload=msg.payload.user_input\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":120,"y":40,"wires":[["bb06a6e8.554578","4d8f3934.a2ff08"]]},{"id":"844965dc.f5a638","type":"debug","z":"f89a0b53.e027a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":140,"wires":[]},{"id":"9980cb9a.04d208","type":"function","z":"f89a0b53.e027a8","name":"","func":"msg.payload = msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":80,"wires":[["5903da1.e13f024","692cdc73.a932a4"]]},{"id":"4d8f3934.a2ff08","type":"ui_text","z":"f89a0b53.e027a8","group":"a126c2a8.9d613","order":2,"width":0,"height":0,"name":"","label":"user input","format":"{{msg.payload}}","layout":"row-spread","x":250,"y":280,"wires":[]},{"id":"5903da1.e13f024","type":"watson-text-to-speech","z":"f89a0b53.e027a8","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_LisaV3Voice","voicehidden":"en-US_LisaV3Voice","format":"audio/wav","password":"","apikey":"_uZZjBnTn707el9GN7jd9w6a2KTzg6qUGZofWBpCdCtH","payload-response":false,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/6354c7ba-2815-4cdb-aa7c-b0d9ad30d294","x":740,"y":140,"wires":[["f8c5ad1c.ffaea"]]},{"id":"692cdc73.a932a4","type":"ui_text","z":"f89a0b53.e027a8","group":"a126c2a8.9d613","order":1,"width":0,"height":0,"name":"","label":"Bot responce","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":40,"wires":[]},{"id":"f8c5ad1c.ffaea","type":"ui_audio","z":"f89a0b53.e027a8","name":"","group":"a126c2a8.9d613","voice":"Google US English","always":true,"x":700,"y":240,"wires":[]},{"id":"dbf982e0.32f63","type":"function","z":"4cb0117d.f8fb7","name":"","func":"msg.payload = msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":360,"wires":[["6a2b1816.69dd18","b60bcb5f.8a8d28"]]},{"id":"bd899302.bff28","type":"watson-conversation-v1","z":"4cb0117d.f8fb7","name":"","workspaceid":"a31bcca7-2d6f-42b1-8b31-f8440bb97aa3","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/d3ffa5df-72a0-4ac1-8d85-f9698f037a6b","timeout":"","optout-learning":false,"x":300,"y":360,"wires":[["66baa402.2e533c","dbf982e0.32f63"]]},{"id":"66baa402.2e533c","type":"debug","z":"4cb0117d.f8fb7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":420,"wires":[]},{"id":"d6cae718.921c18","type":"ui_audio","z":"4cb0117d.f8fb7","name":"","group":"a126c2a8.9d613","voice":"Google US English","always":true,"x":680,"y":520,"wires":[]},{"id":"b60bcb5f.8a8d28","type":"watson-text-to-speech","z":"4cb0117d.f8fb7","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_LisaV3Voice","voicehidden":"en-US_LisaV3Voice","format":"audio/wav","password":"","apikey":"_uZZjBnTn707el9GN7jd9w6a2KTzg6qUGZofWBpCdCtH","payload-response":false,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/6354c7ba-2815-4cdb-aa7c-b0d9ad30d294","x":720,"y":420,"wires":[["d6cae718.921c18"]]},{"id":"6a2b1816.69dd18","type":"ui_text","z":"4cb0117d.f8fb7","group":"e23e4fd1.f2cd","order":1,"width":0,"height":0,"name":"","label":"Bot responce","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":320,"wires":[]},{"id":"c4d50632.26a1d8","type":"ui_text_input","z":"4cb0117d.f8fb7","name":"","label":"speech input","tooltip":"","group":"6591b890.59c8c8","order":6,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":720,"y":280,"wires":[[]]},{"id":"8a0b4c4a.5ffef","type":"debug","z":"4cb0117d.f8fb7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":200,"wires":[]},{"id":"8f0b7784.1b29e8","type":"watson-speech-to-text","z":"4cb0117d.f8fb7","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"Ht4CXQ5hANsyzsLF1rS9evvW-o8gJIjFTJLse5dE0X0y","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.eu-gb.speech-to-text.watson.cloud.ibm.com/instances/b8b3b7a8-a6ce-4fe9-a3ca-e15fbbe22d06","x":470,"y":220,"wires":[["8a0b4c4a.5ffef","bd899302.bff28","c4d50632.26a1d8"]]},{"id":"30d2926c.74836e","type":"microphone","z":"4cb0117d.f8fb7","name":"","x":210,"y":200,"wires":[["8f0b7784.1b29e8"]]},{"id":"166d1181.398e3e","type":"microphone","z":"f89a0b53.e027a8","name":"","x":230,"y":620,"wires":[["453e4faf.3a8b5"]]},{"id":"453e4faf.3a8b5","type":"watson-speech-to-text","z":"f89a0b53.e027a8","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"Ht4CXQ5hANsyzsLF1rS9evvW-o8gJIjFTJLse5dE0X0y","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.eu-gb.speech-to-text.watson.cloud.ibm.com/instances/b8b3b7a8-a6ce-4fe9-a3ca-e15fbbe22d06","x":490,"y":640,"wires":[["73d82a9.d6aced4","8440039d.5a105","4d128c1e.d5ada4"]]},{"id":"73d82a9.d6aced4","type":"debug","z":"f89a0b53.e027a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":620,"wires":[]},{"id":"4d128c1e.d5ada4","type":"ui_text_input","z":"f89a0b53.e027a8","name":"","label":"speech input","tooltip":"","group":"6591b890.59c8c8","order":6,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":740,"y":700,"wires":[[]]},{"id":"8440039d.5a105","type":"watson-conversation-v1","z":"f89a0b53.e027a8","name":"","workspaceid":"a31bcca7-2d6f-42b1-8b31-f8440bb97aa3","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/d3ffa5df-72a0-4ac1-8d85-f9698f037a6b","timeout":"","optout-learning":false,"x":320,"y":780,"wires":[["92a2f45.6884808","3dd5e1e9.d03fde"]]},{"id":"3dd5e1e9.d03fde","type":"function","z":"f89a0b53.e027a8","name":"","func":"msg.payload = msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":780,"wires":[["96c74c5f.0f1e8","55cb736.5ddaf8c"]]},{"id":"96c74c5f.0f1e8","type":"ui_text","z":"f89a0b53.e027a8","group":"e23e4fd1.f2cd","order":1,"width":0,"height":0,"name":"","label":"Bot responce","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":740,"wires":[]},{"id":"92a2f45.6884808","type":"debug","z":"f89a0b53.e027a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":840,"wires":[]},{"id":"55cb736.5ddaf8c","type":"watson-text-to-speech","z":"f89a0b53.e027a8","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_LisaV3Voice","voicehidden":"en-US_LisaV3Voice","format":"audio/wav","password":"","apikey":"_uZZjBnTn707el9GN7jd9w6a2KTzg6qUGZofWBpCdCtH","payload-response":false,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/6354c7ba-2815-4cdb-aa7c-b0d9ad30d294","x":740,"y":840,"wires":[["79c9d6ec.04c768"]]},{"id":"79c9d6ec.04c768","type":"ui_audio","z":"f89a0b53.e027a8","name":"","group":"a126c2a8.9d613","voice":"Google US English","always":true,"x":700,"y":940,"wires":[]},{"id":"eb3e54e5.6bff48","type":"watson-translator","z":"4cb0117d.f8fb7","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"hi","password":"","apikey":"I8XXKOe0iNSTEmhw97bnFPbJ9JbpVuS8MkDSOiz5t4cI","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"hi","basemodelhidden":"","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.eu-gb.language-translator.watson.cloud.ibm.com/instances/620b9604-bfac-419b-b500-6eab9cc34902","x":350,"y":820,"wires":[["9d00a054.dd772","5c0394da.6cf25c"]]},{"id":"5c0394da.6cf25c","type":"ui_text","z":"4cb0117d.f8fb7","group":"a126c2a8.9d613","order":1,"width":0,"height":0,"name":"","label":"translator Bot responce","format":"{{msg.payload}}","layout":"row-spread","x":330,"y":920,"wires":[]},{"id":"9d00a054.dd772","type":"debug","z":"4cb0117d.f8fb7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":880,"wires":[]}]